:root {
    /* Primary Colours */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Transparent Colours */
    --light-red-trans: hsla(0, 100%, 67%, 0.1);
    --orange-yellow-trans: hsla(39, 100%, 56%, 0.1);
    --green-teal-trans: hsla(166, 100%, 37%, 0.1);
    --cobalt-blue-trans: hsla(234, 85%, 45%, 0.1);
    --dark-gray-blue-trans: hsla(224, 30%, 27%, 0.4);

    /* Gradient Colours */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral Colours */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);


    /* Font */
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}


body {
    display: block;
    margin: auto;

}

.container {
    height: 100vh;
}


.results {
    color: white;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    padding: 1vh 10vh;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
}

.results h3 {
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.8);
}

.result {
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    width: 7em;
    height: 7em;
    border-radius: 50%;
    margin: auto;

    display: inline-block;
    align-items: center;
    justify-content: center;
    line-height: 2%;
}


.value {
    font-size: 48px;
    font-weight: 800;
}

.total_value {
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.3);
}

.descriptor {
    font-weight: 800;
}

.description {
    font-weight: 300;
}

.summary {
    width: 80%;
    padding: 0 10%;
    text-align: left;
}


.box {
    display: grid;
    max-width: 100%;
    grid-template-columns: 20% 45% 45%;
    align-items: center;
    padding: 0.5% 0;
    margin: 5% 0;
    border-radius: 1em;
}


.box img {
    margin: auto;
}

.score {
    display: flex;

}

.numerator {
    color: var(--dark-gray-blue);
    font-weight: 700;
}

.denominator {
    margin-left: 10%;
    color: var(--dark-gray-blue-trans);
}

.box.reaction {
    background-color: var(--light-red-trans);
    color: var(--light-red)
}

.box.memory {
    background-color: var(--orange-yellow-trans);
    color: var(--orange-yellow);
}

.box.verbal {
    background-color: var(--green-teal-trans);
    color: var(--green-teal);
}

.box.visual {
    background-color: var(--cobalt-blue-trans);
    color: var(--cobalt-blue);
}

button {
    background-color: var(--dark-gray-blue);
    color: white;
    width: 100%;
    padding: 5% 0;
    border-style: none;
    border-radius: 2em;
    margin-bottom: 1%;
}

.attribution {
    padding-top: 5%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (width > 500px) {}